/*body styling*/

html, body {
    margin: 0;
    padding: 0;
} 

/* Header Photo Styling */

img {
    width: 100%;
    
}

.lavHead {
    position: relative;
    text-align: center;
    color: white;
}

.CompanyName {
    position: absolute;
    top: 90%;
    left: 15%;
    transform: translate(-50%, -50%);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    text-shadow: 5px 5px 6px rgb(54, 53, 53);
    Color: white;
}

/* Body Text */

.bodytitle {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    color:gray;
    margin-top: 20px;

}

.bodytitle h1 {
    color: rgb(83, 83, 83);
    font-size: 20px;
    padding-top: 20px;
}

/* Footer satyling */

footer {
    Background-color: rgba(0, 0, 0, 0.767);
    color: white;
    padding: 70px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    margin-top: 40px;
}

.info {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
}

.info-item {
    padding: 15px;
}

/* ----------------- Experiance Styleing -------------------*/

.expcontainer {
    width: 80%;
    margin: 0 auto;
}

.job {
    
    border-radius: 5px;
    margin-top: 40px;
    padding: 20px;
    background-color: rgba(50, 117, 124, 0.651);
    box-shadow: rgb(124, 123, 123) 0px 10px 20px 0px; 

}

.worktitle {
    text-align: center;
    text-shadow: 2px 2px 4px rgb(104, 102, 102);
    font-size: 60px;
    padding-top: 10px;

}

.workname {
    text-align: left;
    font-size: 30px;
    text-decoration: underline;
    padding-bottom: 10px;
}

.daterange {
    text-align: left;
    font-size: 15px;
}

.jobtitle {
    text-align: left;
    font-size: 20px;
}


/* ----------------- Community Styleing -------------------*/


/* Card Styles */

.cardContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    box-shadow: rgb(51, 51, 51) 0px 10px 20px 0px; 
    margin-bottom: 20px;
}

.card-body a {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(80, 87, 87);
    border-color: rgb(80, 87, 87);;
}

/* ------------------- Real Estate ------------------*/

/* Images Style */

.prod-item {
    display: inline-block;
    position: relative;
    max-width: 400px;
    margin: 12px;
    cursor: pointer;
    
}

.prod-item img {
    height: 300px;
    width: 400px;
    border-radius: 10px;
    box-shadow: rgb(51, 51, 51) 0px 10px 20px 0px; 
    
}

.products {
    text-align: center;
    width: 100%;
}


/* hover overlay */


.image__img {
    display: block;
    width: 100%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px; 
    height: 300px; 
    background: rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    color: white;
    opacity: 0;
    border-radius: 10px;
    
}
.image__overlay:hover{
    Opacity: 1;
}

.image__title {
    font-size: 2em;
    font-weight: bold;
}

.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
    text-align: center;
    padding: 0;
}


@media screen and (min-width: 1px) {
    .CompanyName {
        font-size: 12px;
    }

    footer {
        font-size: 12px;
    }
}


@media screen and (min-width: 568px) {
    .CompanyName {
        font-size: 20px;
    }


}

@media screen and (max-width: 700px) {

    .info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
    }
    
    .info-item {
        padding: 15px;
    }
   
}


@media screen and (min-width: 904px) {



    .CompanyName {
        font-size: 30px;
    }

    footer {
        font-size: 20px;
    }

}

@media screen and (max-width: 1000px){
    .nav-item {
        text-align: center;
    }

    #icon {
        margin-left: 100%;

    }

}

@media screen and (min-width: 1000px) {

    .CompanyName {
        font-size: 35px;
     }

}

@media screen and (min-width: 1200px) {

 .CompanyName {
    font-size: 40px;
 }

}



